.padding-0{
    padding-left: 0;
    padding-right: 0;
}

#todo-input{
    display:flex;
    justify-content: center;
}

#edit{
    display: none;
    
    padding-top: 2rem;
}
.list-group-item{

    width:40%
}

@media screen and (max-width: 1300px) {
    
    .list-group-item
    {
        width: 75%
    }
    }
    @media screen and (max-width: 700px) {
    
        .list-group-item
        {
            width: 100%
        }
        }
    